<style>
    nav-tabs>li>a {
        color: #A7B1C2;
        font-weight: 600;
        padding: 10px 0px !important;
    }

    .tab-content>.tab-pane {
        padding: 30px;
    }
</style>

<style>
    @import url(https://fonts.googleapis.com/css?family=Arimo);
    label[for="file-input"] {
        display: block;
        margin-bottom: 1em;
        font-size: 1em;
        color: #fff;
        opacity: .9;
        font-weight: bold;
    }

    input[type="file"] {
        cursor: pointer !Important;
    }

    input[type="file"]::-webkit-file-upload-button {
        background: #ed5565;
        border: 0;
        padding: 1em 2em;
        cursor: pointer;
        color: #fff;
        border-radius: .2em;
    }

    input[type="file"]::-ms-browse {
        background: #ed5565;
        border: 0;
        padding: 1em 2em;
        cursor: pointer;
        color: #fff;
        border-radius: .2em;
    }
    input[type="password"]{
        background-color: rgba(246, 249, 252, 0.836);
    }   
    .input-group-addon{
        background-color: rgba(246, 249, 252, 0.836);
    }
    #btn-save{
        background-color: rgba(246, 249, 252, 0.836);
    }
    #btn-save:hover{
        background-color: rgb(74, 115, 250);
    }
</style>
<div class="wrapper wrapper-content animated fadeInRightBig" id="tabular">


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <form ng-submit="vm.passwordRecognizer(vm.form)" class="ibox-content" style="background-color: rgba(246, 249, 252, 0.836);">


                    <div>
                        <!-- Altere sua senha -->
                        <div class="col-md-12">
                            <h2>
                                <b>Altere sua senha</b>
                            </h2>
                        </div>
                        <div class="col-lg-4">
                            <br>
                            <h5>
                                <b>Digite sua senha atual</b>
                            </h5>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" ng-model="vm.form.password" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <br>
                            <h5>
                                <b>Nova senha</b>
                            </h5>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" ng-model="vm.form.auxPassword" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <br>
                            <h5>
                                <b>Repita a senha</b>
                            </h5>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" ng-model="vm.form.newPassword" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                        </div>
                        <div class="col-lg-2" style="margin-top:3%">
                            <input id="btn-save" type="submit" class="form-control btn btn-success" value="Alterar senha" />
                        </div>
                        <div class="col-lg-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>