<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div id="general_data" class="row ng-scope">
            <div class="row col-md-12">
                <div>
                    <div class="ibox float-e-margins border-bottom ">
                        <div class="ibox-title  title-financial-Intelligence" style="background: #eeeded;">
                            <h5>Geral</h5>
                            <div ibox-tools class="ngscope">
                                <div class="ibox-tools dropdown" uib-dropdown>
                                    <a ng-click="">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content no-padding">
                            <h3></h3>
                            <ul class="nav-financial-Intelligence nav-financial-Intelligence-pills nav-financial-Intelligence-stacked">
                                <li>
                                    <a ui-sref-active="active" ui-sref="dashboard.parceiro">
                                        <i class="fa fa-users"></i>
                                        Parceiros
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref-active="active" ui-sref="#">
                                        <i class="fa fa-asterisk"></i>
                                        Categorias
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref-active="active" ui-sref="#">
                                        <i class="fa fa-money"></i>
                                        Centros de Custo / Receitas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>