<div class="ibox-content">
    <div class="row" style="margin-left:2%; margin-right:2%">
        <h2>Editar Conta a receber
            <spam class="pull-right" style="cursor:pointer">
                <i class="fa fa-close" ng-click="vm.close()" style="color:red"></i>
                <br>
            </spam>
        </h2>
        <br>
        <button class="btn btn-primary pull-right" ng-click="vm.openModal(billsRecipe._id)">Adicionar Anexo</button>
        <br>
        <form id="form" ng-submit="register(form)">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-group">
                        <label class="btn btn-{{billsRecipe.type === 'Normal' ? 'success':'white'}}" ng-model="billsRecipe.type" uib-btn-radio="'Normal'"
                            value="Normal">Normal</label>
                        <label class="btn btn-{{billsRecipe.type === 'Recorrente' ? 'primary':'white'}}" ng-model="billsRecipe.type" uib-btn-radio="'Recorrente'"
                            value="Recorrente">Recorrente </label>
                        <label class="btn btn-{{billsRecipe.type === 'Parcelada' ? 'danger':'white'}}" ng-model="billsRecipe.type" uib-btn-radio="'Parcelada'"
                            value="Parcelada">Parcelada</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>
                        <b>Valor a Receber*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">R$</span>
                        <input id="value" type="text" ng-model="billsRecipe.value" class="form-control" required/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>
                        <b>Recebido?</b>
                    </h4>
                    <div class="switch__container">
                        <input id="switch-shadow" class="switch switch--shadow" ng-model="billsRecipe.ok" type="checkbox">
                        <label for="switch-shadow"></label>
                    </div>
                 <!--   <div class="input-group m-b">
                        <input type="checkbox" ng-model="billsRecipe.ok" id="campo-checkbox5" />
                    </div>  !-->
                </div>
                <div class="col-lg-7">
                    <h4>
                        <b>Descrição</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" placeholder="Descrição" ng-model="billsRecipe.description" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>
                        <b>Vencimento*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" placeholder="Vencimento" ng-model="billsRecipe.dueDate" class="form-control" required>
                    </div>
                </div>
                <div ng-if="billsRecipe.type ==='Parcelada'" class="col-lg-4">
                    <h4>
                        <b>Nº Parcelas*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="number" ng-model="billsRecipe.installmentTotal" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-4">
                    <h4>
                        <b>Multa</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="number" ng-model="billsRecipe.forfeit" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-4">
                    <h4>
                        <b>Juros</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="number" ng-model="billsRecipe.interestRate" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-4">
                    <h4>
                        <b>Desconto</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="number" ng-model="billsRecipe.discount" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-4">
                    <h4>
                        <b>Data de Recebimento*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsRecipe.payday" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-4">
                    <h4>
                        <b>Total Recebido*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input disabled ng-model="billsRecipe.total" ng-init="billsRecipe.total = billsRecipe.value" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>
                        <b>Categoria</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="" placeholder="Categoria" autocomplete="off" uib-typeahead="p as p.name  for p in categories | filter:$viewValue | limitTo:15"
                            ng-model="billsRecipe._category" typeahead-no-results='noResults' class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.type !='Parcelada'" class="col-lg-4">
                    <h4>
                        <b>Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" ng-model="billsRecipe.docNumber" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.type ==='Parcelada'" class="col-lg-6">
                    <h4>
                        <b>Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" ng-model="billsRecipe.docNumber" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-4">
                    <h4>
                        <b>Data do Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsRecipe.docDate" class="form-control">
                    </div>
                </div>
                <div ng-if="!billsRecipe.ok" class="col-lg-6">
                    <h4>
                        <b>Data do Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsRecipe.docDate" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>
                        <b>Cliente</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="" placeholder="Cliente" autocomplete="off" uib-typeahead="p as p.name  for p in clientPartners | filter:$viewValue | limitTo:15"
                            ng-model="billsRecipe._partner.name" typeahead-no-results='noResults' class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>
                        <b>Centro de Receita</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="name" placeholder="Centro de Receita" autocomplete="off" uib-typeahead="p as p.name  for p in centerRevenue | filter:$viewValue | limitTo:15"
                            ng-model="billsRecipe._center.name" typeahead-no-results='noResults' class="form-control">
                    </div>
                </div>
                <div ng-if="!billsRecipe.ok" class="col-lg-6">
                    <h4>
                        <b>Mês de Competência</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsRecipe.month" class="form-control">
                    </div>
                </div>
                <div ng-if="billsRecipe.ok" class="col-lg-2">
                    <h4>
                        <b>Mês de Competência</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsRecipe.month" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12">
                    <h4>
                        <b>Observações</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <textarea class="form-control" placeholder="Digite aqui as observações" cols="40" rows="6" ng-model="billsRecipe.observation"></textarea>
                    </div>
                </div>
                <div class="col-lg-12" ng-if="vm.anexos">
                    <div>
                        <table class="table table-striped">
                            <tbody>
                                <tr id="identify" style="cursor:pointer">
                                    <td style="text-align:center">
                                        <h3>
                                            <a>
                                                <b ng-click="openAnexo(billsRecipe._id)" style="cursor:pointer">Visualizar Anexo</b>
                                            </a>
                                        </h3>
                                    </td>
                                    <td>
                                        <i class="btn btn-sm btn-danger" ng-click="vm.deleteAnexo(billsRecipe._id)" style="margin-left:60%; cursor:pointer">Excluir anexo</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12" ng-if="billsRecipe._conciliation">
                    <h3>Conciliada com movimentação bancária</h3>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                                <tr id="identify" style="cursor:default">
                                    <td>
                                        <spam style="cursor:pointer; color:blue" ng-click="open(conciliationRecipe.transaction._id)">Detalhes da transação</spam>
                                    </td>
                                    <td ng-if="conciliationRecipe.transaction.description">
                                        <strong>Descrição: </strong>{{conciliationRecipe.transaction.description}}</td>
                                    <td ng-if="!conciliationRecipe.transaction.description">
                                        <strong>Descrição: </strong>-----</td>
                                    <td>
                                        <strong>Tipo: </strong>Crédito</td>
                                    <td>
                                        <strong>Valor: </strong>{{'R$' + conciliationRecipe.transaction.value}}</td>
                                    <td>
                                        <strong>Data de Lançamento: </strong>{{conciliationRecipe.transaction.date |date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <strong>Conta: </strong>{{conciliationRecipe.transaction._account.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <label style="text-align:justify; color:red" ng-if="billsRecipe.type === 'Recorrente'">*Está receita será recorrente mensalmente ao longo de 36 meses.</label>
            <div class="row">
                <br>
                <br>
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <input type="submit" class="form-control btn btn-success" value="Atualizar" />
                </div>
                <div class="col-lg-5"></div>
            </div>
        </form>
    </div>
</div>

<style>
        #value {
            direction: rtl
        }
    </style>
    <script>
        var mask = {
            money: function () {
                var el = this
                    , exec = function (v) {
                        v = v.replace(/\D/g, "");
                        v = new String(Number(v));
                        var len = v.length;
                        if (1 == len)
                            v = v.replace(/(\d)/, "0.0$1");
                        else if (2 == len)
                            v = v.replace(/(\d)/, "0.$1");
                        else if (len > 2) {
                            v = v.replace(/(\d{2})$/, '.$1');
                        }
                        return v;
                    };
                setTimeout(function () {
                    el.value = exec(el.value);
                }, 1);
            }
        }
    
        $(function () {
            $('input#value').bind('keypress', mask.money)
        });
    </script>