<div class="ibox-content">
    <h2>Criar Despesa</h2>
    <form class="form wrapper form-horizontal form-label-left" name="form">
        <br>
        <div>
            <h4><b>Descrição*</b></h4>
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                <input type="text" placeholder="Descrição" ng-model="vm.cardExpense.description" class="form-control" required>
            </div>
        </div>
        <div>
            <h4><b>Data*</b></h4>
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="date" placeholder="Data" ng-model="vm.cardExpense.date" class="form-control" required>
            </div>
        </div>
        <div>
            <h4><b>Tipo*</b></h4>
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-bullseye"></i></span>
                <select class="form-control" ng-model="vm.categorie" ng-options="t.name for t in vm.categorieExpense">
                    <option value="">Selecione uma opção</option>
                </select>
            </div>
        </div>
        <div>
            <h4><b>Valor</b></h4>
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                <input type="text" placeholder="R$0,00" ng-model="vm.cardExpense.value" class="form-control" required/>
            </div>
        </div>
        <div>
            <h4><b>Cartão</b></h4>
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                <select class="form-control" ng-model="vm.card" ng-options="t.name for t in vm.creditCard">
                    <option value="">Selecione uma opção</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align:center">
                <br>
                <button ng-click="vm.saveCardExpense(form)" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </form>
</div>