
.btn-financial-Intelligence{
    background: #192a39;
    border-color: #192a39;
    color: white;
}

.nav-financial-Intelligence{
    background: #eeeded;
}

.nav-header-financial-Intelligence{
    background:#eeeded;
    padding-top: 10px;
    padding-bottom: 10px;
}