<div class="ibox-content">
        <h2>Despesa Fixa do Cartão</h2>
        <form class="form wrapper form-horizontal form-label-left" name="form">
            <br>
            <div>
                <h4><b>Descrição</b></h4>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <input type="text" placeholder="Descrição" ng-model="vm.fixedExpenseCard.description" class="form-control">
                </div>
                <h4><b>Dia de Pagamento*</b></h4>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-bookmark-o"></i></span>
                    <select type="text" class="form-control" ng-model="vm.fixedExpenseCard.payday">
                        <option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
                    </select>
                </div>
                <h4><b>Valor</b></h4>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="text" placeholder="R$0,00" ng-model="vm.fixedExpenseCard.value" class="form-control" />
                </div>
                <h4><b>Tipo</b></h4>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-bullseye"></i></span>
                    <select class="form-control" ng-model="vm.categorie" ng-options="t.name for t in vm.categorieExpense">
                        <option value="">Selecione um Tipo</option>
                    </select>
                </div>
                <h4><b>Cartão</b></h4>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                    <select class="form-control" ng-model="vm.card" ng-options="c.name for c in vm.creditCard">
                        <option value="">Selecione uma Cartão</option>
                    </select>
                </div>
                <div class="form-group">
                        <div style="text-align:center">
                            <br>
                            <button ng-click="vm.saveFixedExpenseCard(form)" class="btn btn-success">Salvar</button>            
                            <button ng-click="vm.deleteFixedExpenseCard(form)" class="btn btn-success">Apagar</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>