<div class="row">
    <div class="col-lg-12" style="padding-left:30px;padding-right:30px; background-color: rgba(246, 249, 252, 0.836)">
        <br>
        <div class="row wrapper border-bottom white-bg page-heading"
            style="background-color: rgba(246, 249, 252, 0.836)">
            <div class="col-lg-12" style="background-color: rgba(246, 249, 252, 0.836)">
                <div class="row" style="background-color: rgba(246, 249, 252, 0.836)">
                    <div class="col-md-6">
                        <h2>Contas</h2>
                        <span class="pull-left" style="margin-top:10px; margin-bottom:15px">
                            <b>Saldo total parcial: {{vm.valueTotal | currency:'R$'}}</b>
                        </span>
                    </div>
                    <br>
                    <div class="col-md-6 pull-right">
                        <input type="button" value="Cadastrar nova conta" class="btn btn-success pull-right"
                            ng-click="openModal('new')">
                    </div>
                </div>
                <ol class="breadcrumb" style="background-color: rgba(246, 249, 252, 0.836)">
                    <li>
                        <a ui-sref="dashboard.home">Home</a>
                    </li>
                    <li class="active">
                        <strong>Contas</strong>
                    </li>
                </ol>
            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="ibox-content row animated fadeInDown" style="background-color: rgba(246, 249, 252, 0.836)">

                <table class="table table-striped">
                    <thead ng-hide="visibleTable">
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Nº Agência</th>
                            <th>Saldo</th>
                            <th class="pull-right" style="margin-right:25px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="identify" ng-repeat="c in account"
                            style="cursor:default; background-color: rgba(246, 249, 252, 0.836)">
                            <td title="{{c.name}}">{{c.name.substring(0,22)}}</td>
                            <td>{{c.type}}</td>
                            <td ng-if="c.type==='Conta Corrente' || c.type==='Conta Poupanca'">{{c.bank}}</td>
                            <td ng-if="c.type==='Conta Corrente' || c.type==='Conta Poupanca'">{{c.agency}}</td>
                            <td ng-if="c.type==='Conta Corrente' || c.type==='Conta Poupanca'">{{c.accountNumber}}</td>
                            <td ng-if="c.type!='Conta Corrente' && c.type!='Conta Poupanca'">----</td>
                            <td ng-if="c.type!='Conta Corrente' && c.type!='Conta Poupanca'">----</td>
                            <td ng-if="c.type!='Conta Corrente' && c.type!='Conta Poupanca'">----</td>
                            <td>{{c.balance | currency:'R$'}}</td>
                            <td style="margin-right:70%">
                                <button title="Inserir Movimentações" class="btn-sm btn-default"
                                    ui-sref="dashboard.accountLaunch({id:c._id})"
                                    style="background-color: rgba(218, 235, 250, 0.925)">Movimentações</button>
                                <button title="Excluir Conta" ng-click="deleteAccount(c._id)"
                                    class="pull-right btn btn-sm btn-danger" style="margin-left:5px">
                                    <i class="fa fa-lg fa-trash"></i>
                                </button>
                                <button title="Editar Conta" ng-click="openModalEdit(c._id)"
                                    class="pull-right btn btn-sm btn-warning" style="width:35px">
                                    <i class="fa fa-lg fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="!account">
                    <spam class="col-lg-12" style="font-size:18pt; text-align:center">
                        <strong style="color:#a927fa">{{vm.textNotify}}</strong>
                    </spam>
                </div>
                <div ng-hide="assyncRequest" class="spinner-example wrapper wrapper-content " id="spinner">
                    <div class="sk-spinner sk-spinner-chasing-dots">
                        <div class="sk-dot1" style="background-color: rgb(1, 25, 241)"></div>
                        <div class="sk-dot2" style="background-color: rgb(1, 25, 241)"></div>
                    </div>
                </div>
            </div>
            <ul id="nextPages" ng-hide="visibleTable" uib-pagination boundary-links="true" total-items="vm.totalItems"
                max-size='3' ng-model="currentPage" ng-change="vm.nextListAccount(currentPage)" class="pagination-sm"
                rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="vm.itemsPerPage"
                first-text="&laquo;" last-text="&raquo;"
                style="display: flex; align-items: center; justify-content: center">
        </div>
    </div>
</div>
<style>
    #identify:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>