<div class="ibox-content">
    <div class="row" style="margin-left:2%; margin-right:2%">
        <h2>Editar Conta a pagar
            <spam class="pull-right" style="cursor:pointer">
                <i class="fa fa-close" ng-click="vm.close()" style="color:red"></i>
            </spam>
        </h2>
        <br>
        <button class="btn btn-primary pull-right" ng-click="vm.openModal(billsExpense._id)">Adicionar Anexo</button>
        <br>
        <form id="form" ng-submit="register(form)">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4><b>Tipo de Conta*</b></h4>
                    <div class="btn-group">
                        <label class="btn btn-{{billsExpense.type === 'Normal' ? 'success':'white'}}"
                            ng-disabled="contaPaga" ng-model="billsExpense.type" uib-btn-radio="'Normal'"
                            value="Normal">Normal</label>
                        <label class="btn btn-{{billsExpense.type === 'Recorrente' ? 'primary':'white'}}"
                            ng-disabled="contaPaga" ng-model="billsExpense.type" uib-btn-radio="'Recorrente'"
                            value="Recorrente">Recorrente
                        </label>
                        <label class="btn btn-{{billsExpense.type === 'Parcelada' ? 'danger':'white'}}"
                            ng-disabled="contaPaga" ng-model="billsExpense.type" uib-btn-radio="'Parcelada'"
                            value="Parcelada">Parcelada</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>
                        <b>Valor a Pagar*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">R$</span>
                        <input id="value" ng-model="billsExpense.value" class="form-control" ng-disabled="contaPaga"
                            required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>
                        <b>Paga?</b>
                    </h4>
                    <div class="switch__container">
                        <input id="switch-shadow" class="switch switch--shadow" ng-model="billsExpense.ok"
                            ng-disabled="contaPaga" type="checkbox">
                        <label for="switch-shadow"></label>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h4>
                        <b>Descrição</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" placeholder="Descrição" ng-model="billsExpense.description"
                            ng-disabled="contaPaga" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>
                        <b>Vencimento*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsExpense.dueDate" class="form-control" ng-disabled="contaPaga">
                    </div>
                </div>
                <div ng-if="billsExpense.type ==='Parcelada'" class="col-lg-4">
                    <h4>
                        <b>Nº Parcelas*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="number" ng-model="billsExpense.installmentTotal" class="form-control"
                            ng-disabled="contaPaga" ng-disabled="true" required>
                    </div>
                </div>
                <div ng-if="billsExpense.ok" class="col-lg-4">
                    <h4>
                        <b>Data de Pagamento*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsExpense.payday" class="form-control" required
                            ng-disabled="contaPaga">
                    </div>
                </div>
                <div ng-if="billsExpense.ok" class="col-lg-4">
                    <h4>
                        <b>Total Pago*</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input disabled ng-model="billsExpense.total" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>
                        <b>Categoria <span style="font-size: 7pt;">Auto-complete</span></b>
                    </h4>
                    <div class="input-group m-b"
                        title="{{categories.length === 0 ? 'Não há categorias cadastradas' : ''}}">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="" placeholder="Categoria" autocomplete="off"
                            uib-typeahead="p as p.name  for p in categories | filter:$viewValue | limitTo:15"
                            ng-model="billsExpense._category" typeahead-no-results='noResults' class="form-control"
                            ng-disabled="categories.length === 0 || contaPaga">
                    </div>
                </div>
                <div ng-if="billsExpense.type !='Parcelada'" class="col-lg-4">
                    <h4>
                        <b>Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" ng-model="billsExpense.docNumber" class="form-control"
                            ng-disabled="contaPaga">
                    </div>
                </div>
                <div ng-if="billsExpense.type ==='Parcelada'" class="col-lg-6">
                    <h4>
                        <b>Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" ng-model="billsExpense.docNumber" class="form-control"
                            ng-disabled="contaPaga">
                    </div>
                </div>
                <div ng-if="billsExpense.ok" class="col-lg-4">
                    <h4>
                        <b>Data do Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsExpense.docDate" class="form-control" ng-disabled="contaPaga">
                    </div>
                </div>
                <div ng-if="!billsExpense.ok" class="col-lg-6">
                    <h4>
                        <b>Data do Documento</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="date" ng-model="billsExpense.docDate" class="form-control" ng-disabled="contaPaga">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>
                        <b>Fornecedor <span style="font-size: 7pt;">Auto-complete</span></b>
                    </h4>
                    <div class="input-group m-b"
                        title="{{providerPartners.length === 0 ? 'Não há fornecedores cadastrados' : ''}}">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="" placeholder="Fornecedor" autocomplete="off"
                            ng-disabled="providerPartners.length === 0 || contaPaga"
                            uib-typeahead="p as p.name  for p in providerPartners | filter:$viewValue | limitTo:15"
                            ng-model="billsExpense._partner" typeahead-no-results='noResults' class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>
                        <b>Centro de Custo <span style="font-size: 7pt;">Auto-complete</span></b>
                    </h4>
                    <div class="input-group m-b"
                        title="{{centerCost.length === 0 ? 'Não há centros de custo cadastrados' : ''}}">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="" placeholder="Centro de Custo" autocomplete="off"
                            ng-disabled="centerCost.length === 0 || contaPaga"
                            uib-typeahead="p as p.name  for p in centerCost | filter:$viewValue | limitTo:15"
                            ng-model="billsExpense._center" typeahead-no-results='noResults' class="form-control">
                    </div>
                </div>
                <div class="col-lg-6" ng-if="billsExpense.ok">
                    <h4><b>Conta Bancária Pertencente*</b></h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <select class="form-control" ng-disabled="accounts.length === 0 || contaPaga"
                            ng-model="vm.idAccount" required>
                            <option value="" selected disabled>Informe a conta bancária</option>
                            <option ng-repeat="account in accounts" value="{{account._id}}">{{account.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h4>
                        <b>Observações</b>
                    </h4>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                        <textarea class="form-control" placeholder="Digite aqui as observações" cols="40" rows="6"
                            ng-disabled="contaPaga" ng-model="billsExpense.observation"></textarea>
                    </div>
                </div>
                <div class="col-lg-12" ng-if="vm.anexos">
                    <div>
                        <table class="table table-striped">
                            <tbody>
                                <tr id="identify" style="cursor:default">
                                    <td style="text-align:center">
                                        <h3>
                                            <a>
                                                <b ng-click="openAnexo(billsExpense._id)"
                                                    style="cursor:pointer">Visualizar Anexo</b>
                                            </a>
                                        </h3>
                                    </td>
                                    <td>
                                        <i class="btn btn-sm btn-danger" ng-click="vm.deleteAnexo(billsExpense._id)"
                                            style="margin-left:60%; cursor:pointer">Excluir anexo</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-lg-12" ng-if="billsExpense._conciliation">
                    <h3>Conciliada com movimentação bancária</h3>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                                <tr id="identify" style="cursor:default">
                                    <td>
                                        <spam style="cursor:pointer; color:blue"
                                            ng-click="open(conciliation.transaction._id)">Detalhes da transação</spam>
                                    </td>
                                    <td ng-if="conciliation.transaction.description">
                                        <strong>Descrição: </strong>{{conciliation.transaction.description}}</td>
                                    <td ng-if="!conciliation.transaction.description">
                                        <strong>Descrição: </strong>-----</td>
                                    <td>
                                        <strong>Tipo: </strong>Saída</td>
                                    <td>
                                        <strong>Valor: </strong>{{'R$' + conciliation.transaction.value}}</td>
                                    <td>
                                        <strong>Data de Lançamento:
                                        </strong>{{conciliation.transaction.date |date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <strong>Conta: </strong>{{conciliation.transaction._account.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <label style="text-align:justify; color:red" ng-if="billsExpense.type === 'Recorrente'">*Está conta será
                recorrente mensalmente ao longo de 36 meses.</label>
            <div class="row">
                <br>
                <br>
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <input type="submit" class="form-control btn btn-success" value="Atualizar" />
                </div>
                <div class="col-lg-5"></div>
            </div>
        </form>
    </div>
</div>

<style>
    #value {
        direction: rtl
    }
</style>
<script>
    var mask = {
        money: function () {
            var el = this
                , exec = function (v) {
                    v = v.replace(/\D/g, "");
                    v = new String(Number(v));
                    var len = v.length;
                    if (1 == len)
                        v = v.replace(/(\d)/, "0.0$1");
                    else if (2 == len)
                        v = v.replace(/(\d)/, "0.$1");
                    else if (len > 2) {
                        v = v.replace(/(\d{2})$/, '.$1');
                    }
                    return v;
                };
            setTimeout(function () {
                el.value = exec(el.value);
            }, 1);
        }
    }

    $(function () {
        $('input#value').bind('keypress', mask.money)
    });
</script>